<!DOCTYPE html>
<html>

    <head>
        <title>Homer</title>
        <link rel="stylesheet" href="../static/main.css">
        <link rel="extraStuff" href="../static/main.js">
    </head>
    
    <body scroll="no" style="overflow: hidden">
    
    <img src="../templates/forest.jpeg" class="page-center background-img">
        
    <div class="page-center">
        <h1 id="title" class="text-center">Welcome to Homer</h1>
        <h3 id="about-us" class="text-center">Search your ZIP Code below to find relevant information on environmental hazards, schools, and more!</h3>

        <script>
            // function redirect(link) {
            //     window.open(link);
            // }
        </script>
        <form action="/results" method= "post" class="text-center">
            <!--zipcode should be limited to 5 numbers for best results -->
 
            Zipcode: <input type="text" id="fzip" name="zip" size = "30" pattern="^[0-9]{5}(?:-[0-9]{4})?$"><br><br>
            <input onclick="getAQI()" type="submit" class="green-button" value="SUBMIT">
        </form>
    </div>

</html>
