<!DOCTYPE html>
<html>

    <head>
        <title>Suslife!</title>
        <link rel="stylesheet" href="../static/main.css">
        <link rel="extraStuff" href="../static/main.js">
    </head>

    <body style = "background-color: #ffffcc;">
        <a href="/" class="green-button">Return to Search</a>
        <h1 id = "sus"> How to make your new home more sustainable!</h1>
        <h2 class = "sustips">Are you a gardener?</h2>
        <p class = "susinfo">If you enjoy gardening, then you should give your green thumb a new challenge! Consider planting native species...!
            Native species are a sustainable alternative option to invasive species since they require less energy and resources. 
            Because these species are native to this environment, they've managed to optimize their energy use. In other words,
            they should require less water, pesticides, and management (i.e. lawn mowers) than invasive species. You can find some native species 
            <a href="https://www.wildflower.org/collections/" target="_blank">here</a>!
        </p>

        <h2 class = "sustips">Try eco-friendly drying!</h2>
        <p class = "susinfo">Instead of dryer appliances, you can try using either clothesline drying or drying racks!
             You can find some dry racks <a href="https://www.amazon.com/laundry-drying-racks/b?ie=UTF8&node=695488011#ace-g4993291862" target="_blank">here</a> 
             Dryers consume a significant amount of energy compared to other house appliances! 
        </p>
        
        <h2 class = "sustips">Solar Panel Installations are also worth considering!</h2>
        <p>
            Also check out <a href="https://www.solarreviews.com/solar-companies/" target="_blank">solar panel deals</a> in your local area!
        </p>

        <h2 class = "sustips">And last but not least, consider sustainable dish and laundry detergent brands!</h2>
        <p>
            Dish and laundry detergents can release harmful substances like phosphates into the enviroment. Research more sustainable brands 
            that'll release less toxins down your gutter! 
        </p>
    </body>
</html>