.title {
    font-family: "Monaco", Serif;
    font-size: 5vw;
    text-shadow: 2px 2px 5px black;
    margin: 0px;
}

#about-us {
    font-family: "Monaco", Serif;
    text-shadow: 2px 2px 5px black;
    font-size:2vw;
}

.page-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-color {
    color: white
}

.black-color {
    color: black;
}


.text-center{
    text-align: center;
}


.result-text {
    text-align: center;
    margin: 20px;
    color: black;
    font: "Monaco";
}

.result-text-header {
    text-align: center;
    font: "Monaco";
}

.background-img {
    height: max(100vh, 100vw);
    width: auto;
    background-attachment: fixed;
}

.green-button {
    font-family: Monaco;
    font-size: 1vw;
    background: white;
    border: 2px black inset;
    color: black;
    width: 100px;
    height: 50px;
    margin: 10px;
    padding: 10px;
    transition: background-color 0.2s;
    text-decoration: none;
}

.green-button:hover {
    background-color: lightgreen;
    cursor: pointer;
}
